HangedMan_Client/Connected Services/WordServices/WordServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="EnglishCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpanishCategory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfWord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Word" nillable="true" type="tns:Word" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWord" nillable="true" type="tns:ArrayOfWord" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="EnglishClue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnglishWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpanishClue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpanishWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WordID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
</xs:schema>