HangedMan_Client/Connected Services/WordServices/WordServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WordServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56216/WordServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56216/WordServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56216/WordServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWordServices_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetWordsPerCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsPerCategory" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetWordsPerCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsPerCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetWordSpanish_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordSpanish" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetWordSpanish_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordSpanishResponse" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetWordEnglish_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordEnglish" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetWordEnglish_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordEnglishResponse" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetClueSpanish_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClueSpanish" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetClueSpanish_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClueSpanishResponse" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetClueEnglish_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClueEnglish" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetClueEnglish_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClueEnglishResponse" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetCategoryByWordID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByWordID" />
  </wsdl:message>
  <wsdl:message name="IWordServices_GetCategoryByWordID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByWordIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IWordServices">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordServices/GetCategories" message="tns:IWordServices_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordServices/GetCategoriesResponse" message="tns:IWordServices_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWordsPerCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordServices/GetWordsPerCategory" message="tns:IWordServices_GetWordsPerCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordServices/GetWordsPerCategoryResponse" message="tns:IWordServices_GetWordsPerCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWordSpanish">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordServices/GetWordSpanish" message="tns:IWordServices_GetWordSpanish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordServices/GetWordSpanishResponse" message="tns:IWordServices_GetWordSpanish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWordEnglish">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordServices/GetWordEnglish" message="tns:IWordServices_GetWordEnglish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordServices/GetWordEnglishResponse" message="tns:IWordServices_GetWordEnglish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClueSpanish">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordServices/GetClueSpanish" message="tns:IWordServices_GetClueSpanish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordServices/GetClueSpanishResponse" message="tns:IWordServices_GetClueSpanish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClueEnglish">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordServices/GetClueEnglish" message="tns:IWordServices_GetClueEnglish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordServices/GetClueEnglishResponse" message="tns:IWordServices_GetClueEnglish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByWordID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordServices/GetCategoryByWordID" message="tns:IWordServices_GetCategoryByWordID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordServices/GetCategoryByWordIDResponse" message="tns:IWordServices_GetCategoryByWordID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWordServices" type="tns:IWordServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IWordServices/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordsPerCategory">
      <soap:operation soapAction="http://tempuri.org/IWordServices/GetWordsPerCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordSpanish">
      <soap:operation soapAction="http://tempuri.org/IWordServices/GetWordSpanish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordEnglish">
      <soap:operation soapAction="http://tempuri.org/IWordServices/GetWordEnglish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClueSpanish">
      <soap:operation soapAction="http://tempuri.org/IWordServices/GetClueSpanish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClueEnglish">
      <soap:operation soapAction="http://tempuri.org/IWordServices/GetClueEnglish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByWordID">
      <soap:operation soapAction="http://tempuri.org/IWordServices/GetCategoryByWordID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordServices">
    <wsdl:port name="BasicHttpBinding_IWordServices" binding="tns:BasicHttpBinding_IWordServices">
      <soap:address location="http://localhost:56216/WordServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>