HangedMan_Client/Connected Services/PlayerServices/PlayerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PlayerServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56216/PlayerServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56216/PlayerServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56216/PlayerServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerServices_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_EmailAlreadyRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailAlreadyRegistered" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_EmailAlreadyRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailAlreadyRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_NicknameAlreadyRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:NicknameAlreadyRegistered" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_NicknameAlreadyRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:NicknameAlreadyRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_TelephoneAlreadyExist_InputMessage">
    <wsdl:part name="parameters" element="tns:TelephoneAlreadyExist" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_TelephoneAlreadyExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:TelephoneAlreadyExistResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_UpdatePlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_UpdatePlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_GetPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPoints" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_GetPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlayerServices">
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerServices/RegisterPlayer" message="tns:IPlayerServices_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerServices/RegisterPlayerResponse" message="tns:IPlayerServices_RegisterPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailAlreadyRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerServices/EmailAlreadyRegistered" message="tns:IPlayerServices_EmailAlreadyRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerServices/EmailAlreadyRegisteredResponse" message="tns:IPlayerServices_EmailAlreadyRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NicknameAlreadyRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerServices/NicknameAlreadyRegistered" message="tns:IPlayerServices_NicknameAlreadyRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerServices/NicknameAlreadyRegisteredResponse" message="tns:IPlayerServices_NicknameAlreadyRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TelephoneAlreadyExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerServices/TelephoneAlreadyExist" message="tns:IPlayerServices_TelephoneAlreadyExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerServices/TelephoneAlreadyExistResponse" message="tns:IPlayerServices_TelephoneAlreadyExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerServices/LogIn" message="tns:IPlayerServices_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerServices/LogInResponse" message="tns:IPlayerServices_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerServices/UpdatePlayerProfile" message="tns:IPlayerServices_UpdatePlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerServices/UpdatePlayerProfileResponse" message="tns:IPlayerServices_UpdatePlayerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerServices/GetPoints" message="tns:IPlayerServices_GetPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerServices/GetPointsResponse" message="tns:IPlayerServices_GetPoints_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPlayerServices" type="tns:IPlayerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterPlayer">
      <soap:operation soapAction="http://tempuri.org/IPlayerServices/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailAlreadyRegistered">
      <soap:operation soapAction="http://tempuri.org/IPlayerServices/EmailAlreadyRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NicknameAlreadyRegistered">
      <soap:operation soapAction="http://tempuri.org/IPlayerServices/NicknameAlreadyRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TelephoneAlreadyExist">
      <soap:operation soapAction="http://tempuri.org/IPlayerServices/TelephoneAlreadyExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IPlayerServices/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <soap:operation soapAction="http://tempuri.org/IPlayerServices/UpdatePlayerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoints">
      <soap:operation soapAction="http://tempuri.org/IPlayerServices/GetPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlayerServices">
    <wsdl:port name="BasicHttpBinding_IPlayerServices" binding="tns:BasicHttpBinding_IPlayerServices">
      <soap:address location="http://localhost:56216/PlayerServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>