HangedMan_Client/Connected Services/GameServices/GameServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameServices_CreateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_CreateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetMatchList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchList" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetMatchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchListResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetMatchesPlayed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesPlayed" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetMatchesPlayed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesPlayedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_InitMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:InitMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_InitMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetGuestNickName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGuestNickName" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetGuestNickName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGuestNickNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_IsThereGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:IsThereGuest" />
  </wsdl:message>
  <wsdl:message name="IGameServices_IsThereGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsThereGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_LeaveMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_LeaveMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetGuestLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGuestLetter" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetGuestLetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGuestLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetRemainingAttempts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemainingAttempts" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetRemainingAttempts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemainingAttemptsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdatePointsEarned_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePointsEarned" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdatePointsEarned_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePointsEarnedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_PenalizeAbandon_InputMessage">
    <wsdl:part name="parameters" element="tns:PenalizeAbandon" />
  </wsdl:message>
  <wsdl:message name="IGameServices_PenalizeAbandon_OutputMessage">
    <wsdl:part name="parameters" element="tns:PenalizeAbandonResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_FinishMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_FinishMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdateCharBD_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCharBD" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdateCharBD_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCharBDResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetMatchStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchStatus" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetMatchStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdateRemainingAttempts_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRemainingAttempts" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdateRemainingAttempts_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRemainingAttemptsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdateWinner_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWinner" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdateWinner_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWinnerResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetWinnerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWinnerID" />
  </wsdl:message>
  <wsdl:message name="IGameServices_GetWinnerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWinnerIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameServices">
    <wsdl:operation name="CreateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/CreateMatch" message="tns:IGameServices_CreateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/CreateMatchResponse" message="tns:IGameServices_CreateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/GetMatchList" message="tns:IGameServices_GetMatchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/GetMatchListResponse" message="tns:IGameServices_GetMatchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchesPlayed">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/GetMatchesPlayed" message="tns:IGameServices_GetMatchesPlayed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/GetMatchesPlayedResponse" message="tns:IGameServices_GetMatchesPlayed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/InitMatch" message="tns:IGameServices_InitMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/InitMatchResponse" message="tns:IGameServices_InitMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGuestNickName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/GetGuestNickName" message="tns:IGameServices_GetGuestNickName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/GetGuestNickNameResponse" message="tns:IGameServices_GetGuestNickName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsThereGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/IsThereGuest" message="tns:IGameServices_IsThereGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/IsThereGuestResponse" message="tns:IGameServices_IsThereGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/LeaveMatch" message="tns:IGameServices_LeaveMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/LeaveMatchResponse" message="tns:IGameServices_LeaveMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGuestLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/GetGuestLetter" message="tns:IGameServices_GetGuestLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/GetGuestLetterResponse" message="tns:IGameServices_GetGuestLetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingAttempts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/GetRemainingAttempts" message="tns:IGameServices_GetRemainingAttempts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/GetRemainingAttemptsResponse" message="tns:IGameServices_GetRemainingAttempts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePointsEarned">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/UpdatePointsEarned" message="tns:IGameServices_UpdatePointsEarned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/UpdatePointsEarnedResponse" message="tns:IGameServices_UpdatePointsEarned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PenalizeAbandon">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/PenalizeAbandon" message="tns:IGameServices_PenalizeAbandon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/PenalizeAbandonResponse" message="tns:IGameServices_PenalizeAbandon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/FinishMatch" message="tns:IGameServices_FinishMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/FinishMatchResponse" message="tns:IGameServices_FinishMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCharBD">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/UpdateCharBD" message="tns:IGameServices_UpdateCharBD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/UpdateCharBDResponse" message="tns:IGameServices_UpdateCharBD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/GetMatchStatus" message="tns:IGameServices_GetMatchStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/GetMatchStatusResponse" message="tns:IGameServices_GetMatchStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRemainingAttempts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/UpdateRemainingAttempts" message="tns:IGameServices_UpdateRemainingAttempts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/UpdateRemainingAttemptsResponse" message="tns:IGameServices_UpdateRemainingAttempts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWinner">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/UpdateWinner" message="tns:IGameServices_UpdateWinner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/UpdateWinnerResponse" message="tns:IGameServices_UpdateWinner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWinnerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/GetWinnerID" message="tns:IGameServices_GetWinnerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/GetWinnerIDResponse" message="tns:IGameServices_GetWinnerID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameServices" type="tns:IGameServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/CreateMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchList">
      <soap:operation soapAction="http://tempuri.org/IGameServices/GetMatchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchesPlayed">
      <soap:operation soapAction="http://tempuri.org/IGameServices/GetMatchesPlayed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/InitMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGuestNickName">
      <soap:operation soapAction="http://tempuri.org/IGameServices/GetGuestNickName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsThereGuest">
      <soap:operation soapAction="http://tempuri.org/IGameServices/IsThereGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/LeaveMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGuestLetter">
      <soap:operation soapAction="http://tempuri.org/IGameServices/GetGuestLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingAttempts">
      <soap:operation soapAction="http://tempuri.org/IGameServices/GetRemainingAttempts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePointsEarned">
      <soap:operation soapAction="http://tempuri.org/IGameServices/UpdatePointsEarned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PenalizeAbandon">
      <soap:operation soapAction="http://tempuri.org/IGameServices/PenalizeAbandon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/FinishMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCharBD">
      <soap:operation soapAction="http://tempuri.org/IGameServices/UpdateCharBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchStatus">
      <soap:operation soapAction="http://tempuri.org/IGameServices/GetMatchStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRemainingAttempts">
      <soap:operation soapAction="http://tempuri.org/IGameServices/UpdateRemainingAttempts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWinner">
      <soap:operation soapAction="http://tempuri.org/IGameServices/UpdateWinner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWinnerID">
      <soap:operation soapAction="http://tempuri.org/IGameServices/GetWinnerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServices">
    <wsdl:port name="BasicHttpBinding_IGameServices" binding="tns:BasicHttpBinding_IGameServices">
      <soap:address location="http://localhost:56216/GameServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>