HangedMan_Client/Connected Services/GameServices/GameServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameServices_createMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:createMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_createMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:createMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchList_InputMessage">
    <wsdl:part name="parameters" element="tns:getMatchList" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMatchListResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchesPlayed_InputMessage">
    <wsdl:part name="parameters" element="tns:getMatchesPlayed" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchesPlayed_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMatchesPlayedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_initMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:initMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_initMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:initMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getGuestNickName_InputMessage">
    <wsdl:part name="parameters" element="tns:getGuestNickName" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getGuestNickName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGuestNickNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_isThereGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:isThereGuest" />
  </wsdl:message>
  <wsdl:message name="IGameServices_isThereGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:isThereGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_leaveMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:leaveMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_leaveMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:leaveMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getGuestLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:getGuestLetter" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getGuestLetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGuestLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getRemainingAttempts_InputMessage">
    <wsdl:part name="parameters" element="tns:getRemainingAttempts" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getRemainingAttempts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRemainingAttemptsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdatePointsEarned_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePointsEarned" />
  </wsdl:message>
  <wsdl:message name="IGameServices_UpdatePointsEarned_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePointsEarnedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_PenalizeAbandon_InputMessage">
    <wsdl:part name="parameters" element="tns:PenalizeAbandon" />
  </wsdl:message>
  <wsdl:message name="IGameServices_PenalizeAbandon_OutputMessage">
    <wsdl:part name="parameters" element="tns:PenalizeAbandonResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_finishMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:finishMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_finishMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:finishMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_updateCharBD_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCharBD" />
  </wsdl:message>
  <wsdl:message name="IGameServices_updateCharBD_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCharBDResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:getMatchStatus" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMatchStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_updateRemainingAttempts_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRemainingAttempts" />
  </wsdl:message>
  <wsdl:message name="IGameServices_updateRemainingAttempts_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRemainingAttemptsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_updateWinner_InputMessage">
    <wsdl:part name="parameters" element="tns:updateWinner" />
  </wsdl:message>
  <wsdl:message name="IGameServices_updateWinner_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateWinnerResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getWinnerID_InputMessage">
    <wsdl:part name="parameters" element="tns:getWinnerID" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getWinnerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWinnerIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameServices">
    <wsdl:operation name="createMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/createMatch" message="tns:IGameServices_createMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/createMatchResponse" message="tns:IGameServices_createMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMatchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/getMatchList" message="tns:IGameServices_getMatchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/getMatchListResponse" message="tns:IGameServices_getMatchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMatchesPlayed">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/getMatchesPlayed" message="tns:IGameServices_getMatchesPlayed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/getMatchesPlayedResponse" message="tns:IGameServices_getMatchesPlayed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="initMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/initMatch" message="tns:IGameServices_initMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/initMatchResponse" message="tns:IGameServices_initMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGuestNickName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/getGuestNickName" message="tns:IGameServices_getGuestNickName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/getGuestNickNameResponse" message="tns:IGameServices_getGuestNickName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isThereGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/isThereGuest" message="tns:IGameServices_isThereGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/isThereGuestResponse" message="tns:IGameServices_isThereGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="leaveMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/leaveMatch" message="tns:IGameServices_leaveMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/leaveMatchResponse" message="tns:IGameServices_leaveMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGuestLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/getGuestLetter" message="tns:IGameServices_getGuestLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/getGuestLetterResponse" message="tns:IGameServices_getGuestLetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRemainingAttempts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/getRemainingAttempts" message="tns:IGameServices_getRemainingAttempts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/getRemainingAttemptsResponse" message="tns:IGameServices_getRemainingAttempts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePointsEarned">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/UpdatePointsEarned" message="tns:IGameServices_UpdatePointsEarned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/UpdatePointsEarnedResponse" message="tns:IGameServices_UpdatePointsEarned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PenalizeAbandon">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/PenalizeAbandon" message="tns:IGameServices_PenalizeAbandon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/PenalizeAbandonResponse" message="tns:IGameServices_PenalizeAbandon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="finishMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/finishMatch" message="tns:IGameServices_finishMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/finishMatchResponse" message="tns:IGameServices_finishMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCharBD">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/updateCharBD" message="tns:IGameServices_updateCharBD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/updateCharBDResponse" message="tns:IGameServices_updateCharBD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMatchStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/getMatchStatus" message="tns:IGameServices_getMatchStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/getMatchStatusResponse" message="tns:IGameServices_getMatchStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRemainingAttempts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/updateRemainingAttempts" message="tns:IGameServices_updateRemainingAttempts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/updateRemainingAttemptsResponse" message="tns:IGameServices_updateRemainingAttempts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateWinner">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/updateWinner" message="tns:IGameServices_updateWinner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/updateWinnerResponse" message="tns:IGameServices_updateWinner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWinnerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/getWinnerID" message="tns:IGameServices_getWinnerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/getWinnerIDResponse" message="tns:IGameServices_getWinnerID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameServices" type="tns:IGameServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/createMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatchList">
      <soap:operation soapAction="http://tempuri.org/IGameServices/getMatchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatchesPlayed">
      <soap:operation soapAction="http://tempuri.org/IGameServices/getMatchesPlayed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/initMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGuestNickName">
      <soap:operation soapAction="http://tempuri.org/IGameServices/getGuestNickName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isThereGuest">
      <soap:operation soapAction="http://tempuri.org/IGameServices/isThereGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leaveMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/leaveMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGuestLetter">
      <soap:operation soapAction="http://tempuri.org/IGameServices/getGuestLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRemainingAttempts">
      <soap:operation soapAction="http://tempuri.org/IGameServices/getRemainingAttempts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePointsEarned">
      <soap:operation soapAction="http://tempuri.org/IGameServices/UpdatePointsEarned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PenalizeAbandon">
      <soap:operation soapAction="http://tempuri.org/IGameServices/PenalizeAbandon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finishMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/finishMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCharBD">
      <soap:operation soapAction="http://tempuri.org/IGameServices/updateCharBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatchStatus">
      <soap:operation soapAction="http://tempuri.org/IGameServices/getMatchStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRemainingAttempts">
      <soap:operation soapAction="http://tempuri.org/IGameServices/updateRemainingAttempts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWinner">
      <soap:operation soapAction="http://tempuri.org/IGameServices/updateWinner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWinnerID">
      <soap:operation soapAction="http://tempuri.org/IGameServices/getWinnerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServices">
    <wsdl:port name="BasicHttpBinding_IGameServices" binding="tns:BasicHttpBinding_IGameServices">
      <soap:address location="http://localhost:56216/GameServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>