HangedMan_Client/Connected Services/GameServices/GameServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" />
  <xs:element name="createMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" minOccurs="0" name="createMatch" nillable="true" type="q1:Match" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" minOccurs="0" name="createMatchResult" nillable="true" type="q2:Match" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" minOccurs="0" name="getMatchListResult" nillable="true" type="q3:ArrayOfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchesPlayed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchesPlayedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" minOccurs="0" name="getMatchesPlayedResult" nillable="true" type="q4:ArrayOfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guestID" type="xs:int" />
        <xs:element minOccurs="0" name="matchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>