HangedMan_Client/Connected Services/GameServices/GameServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56216/GameServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangedMan_Server.Model.POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameServices_createMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:createMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_createMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:createMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchList_InputMessage">
    <wsdl:part name="parameters" element="tns:getMatchList" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMatchListResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchesPlayed_InputMessage">
    <wsdl:part name="parameters" element="tns:getMatchesPlayed" />
  </wsdl:message>
  <wsdl:message name="IGameServices_getMatchesPlayed_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMatchesPlayedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServices_initMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:initMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServices_initMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:initMatchResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameServices">
    <wsdl:operation name="createMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/createMatch" message="tns:IGameServices_createMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/createMatchResponse" message="tns:IGameServices_createMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMatchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/getMatchList" message="tns:IGameServices_getMatchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/getMatchListResponse" message="tns:IGameServices_getMatchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMatchesPlayed">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/getMatchesPlayed" message="tns:IGameServices_getMatchesPlayed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/getMatchesPlayedResponse" message="tns:IGameServices_getMatchesPlayed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="initMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServices/initMatch" message="tns:IGameServices_initMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServices/initMatchResponse" message="tns:IGameServices_initMatch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameServices" type="tns:IGameServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/createMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatchList">
      <soap:operation soapAction="http://tempuri.org/IGameServices/getMatchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatchesPlayed">
      <soap:operation soapAction="http://tempuri.org/IGameServices/getMatchesPlayed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initMatch">
      <soap:operation soapAction="http://tempuri.org/IGameServices/initMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServices">
    <wsdl:port name="BasicHttpBinding_IGameServices" binding="tns:BasicHttpBinding_IGameServices">
      <soap:address location="http://localhost:56216/GameServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>